<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Editing <%= job.jobTitle %></title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="edit-job-container">
        <h1>Edit <%= job.jobTitle %> at <%= job.companyName %></h1>

        <form action="/jobs/<%= job._id %>?_method=PUT" method="POST" class="edit-job-form">
            <label for="companyName">Company Name:</label>
            <input type="text" name="companyName" id="companyName" value="<%= job.companyName %>" required>

            <label for="location">Location:</label>
            <input type="text" name="location" id="location" value="<%= job.location %>" required>

            <label for="jobTitle">Job Title:</label>
            <input type="text" name="jobTitle" id="jobTitle" value="<%= job.jobTitle %>" required>

            <label for="jobDesc">Job Description:</label>
            <textarea name="jobDesc" id="jobDesc" rows="5"><%= job.jobDesc %></textarea>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="active" <%= job.status === "active" ? "selected" : "" %>>Active</option>
                <option value="inactive" <%= job.status === "inactive" ? "selected" : "" %>>Inactive</option>
            </select>

            <button type="submit">Update Job</button>
        </form>
    </div>
</body>

</html>
