<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Job Jobs</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
        <!-- views/jobs/index.ejs -->
        <div class="all-apps-body">
            <div class="all-apps-header">
                <h1>ACTIVE JOB POSTINGS</h1>
                <a class="add-app-link" href="/users/<%=user._id%>/jobs/new">Create an Job</a>
            </div>
            <ul>
                <% jobs.forEach((app)=> { %>
                    <a href="/users/<%= user._id %>/jobs/<%= app.job._id %>">
                        <li>
                            <%= app.job.title %> at <%= app.job.company %> - Status: <%= app.status %>
                        </li>
                    </a>
                    <% }) %>
            </ul>
        </div>
</body>

</html>